.item {
  font-size: 12px;
  border: 1px solid green;
  width: 30%;
}


.append-item {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid red;
}

.item-info {
  border: 1px solid blue;
}

.item-title {
  cursor: pointer;
}


.garage-opener {
  height: 50px;
  width: 100px;
  border: 1px solid #414456;
  cursor: pointer;
}

.garage-door {
  height: 75vh;
  width: 100%;
  background-color: #2A2C37;
  overflow: hidden;
  position: absolute;
  z-index: 100;
}

.append-reveal {
  display: block;
}
